@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
$background: #3f3f3f;

.expensive {
  background-color: $background;
}

.normal {
  background-color: #D3D3D3;
}

.cheap {
  background-color: gray;
}

.weak {
  font-weight: bold;
}

.strong {
  font-style: italic;
}

button {
  background-color: teal;
  margin: 5px;
}

.jumbotron {
  // background-color: red;
  background-image: url("/resources/images/taps.jpg");
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 13px solid white;
}

body {
  background-image: url("http://ftextures.com/textures/white-foam.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
}

.title {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 110px;
  text-align: center;
  text-shadow: 5px 5px white;
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;

  li {
    width: 32%;
    border: 2px solid white;
    border-radius: 5%;
    margin: 50px 5px 50px 5px;
    padding: 2%;
    box-shadow: 20px 20px 10px #888888;
    .keg-name {
      font-size: 30px;
      font-family: 'Permanent Marker', sans-serif;
    }
    .edit-keg-button {
      float: right;
    }
  }
}
